<% if(locals.user) {%>
    <div id ="user-chat-box">
        <ul id="chat-messages-list">
            <li class="other-message">
                <span>others messages</span>
            </li>
            <li class="self-message">
                <span>
                    self messages
                </span>
            </li>
        </ul>
        <div id ="chat-message-input-container">
            <input id="chat-messages-input" placeholder="type your message here">
            <button id ="send-message" type="submit" value="Submit">SEND</button>
            <!-- <input type="submit" id="send-message"value="send"> -->
            <!-- <button  class="button" type="submit" value="Submit"></button> -->
        </div>
    </div>
    <% } %>