

<header>
    SOCIAL-MEDIA
    <ul>
        <% if (locals.user) { %>

  <li>
    <div id="sign-in-link"><a href="/users/profile"><%= user.name %>&nbsp&nbsp<img src="https://static1.squarespace.com/static/5b47794f96d4553780daae3b/5b4911e888251bc248f72092/5b491270352f53dc4666351b/1557785772029/profile-placeholder.jpg?format=1500w"width="40px";height="40px";border-radius="50%";></a><div>
  </li>
  <div id="sign-up-link"  ><li><a href="/users/sign-out">Sign out </a></li></div>

        <% } else{ %>
          <div id="sign-in-link">  <li><a href="/users/sign-in">Sign In </a></li></div>

       <div id="sign-up-link"  > <li><a href="/users/sign-up">Sign Up </a></li></div>

            <% } %>

    </ul>
</header>