<link rel="stylesheet" href="/css/user_profile.css">
        <h1>codeial/profile</h1>
        <p>Name:<%= user.name %></p>
        <p>
        email:<%= user.email %>
        </p>
        <!-- <div id="sign-out-button">
        <input type="submit" value="sign-out">
        </div>
         -->
      