<div id="sign-in-page">
<h1>
    sign in
</h1>
<form action="/users/create-session" method="POST">
<input type="email" name="email" placeholder="email" required><br><br><br>
<input type="password" name="password" placeholder="password" required><br><br><br>
<input type="submit"value="sign in"><br><br><br>
</form>

<p id="google-sign-in">
    <!-- google sign in -->
    <a href="/users/auth/google">Google sign in or sign up</a>
        
</p>
</div>