<div id="sign-in-page">
<h1>
    sign in
</h1>
<form action="/users/create-session" method="POST">
<input type="email" name="email" placeholder="email" required><br><br><br>
<input type="password" name="password" placeholder="password" required><br><br><br>
<input type="submit"value="sign in"><br><br><br>
</form>
</div>