
<div id="sign-up-page">
    <h1>sign up</h1>
<form action ="/users/create" method="POST">
    
    <input type="text"name="name"placeholder="your name" required><br><br>
    <input type="email"name="email"placeholder="your email" required><br><br>
    <input type="password"name="password"placeholder="your password" required><br><br>
    <input type="password"name="confirm_password"placeholder="confirm up" required><br><br>
    <input type="submit" value="sign Up"><br>
</form>
<p>
    <!-- google sign in -->
    <a href="/users/auth/google"><Google sign in or sign up></a>
</p>
</div>



