<link rel="stylesheet" href="/css/user_profile.css">
        
       <!-- if(locals.user) 
       {
        <h1>PROFILE PAGE</h1>
        <p>Name:<%= user.name %></p>
        <p>
                email:<%=user.email %>
        </p>
}
else
{ -->
        <h1>codeial/profile</h1>
        <p>Name:<%= profile_user.name %></p>
       <p> email:<%= profile_user.email %></p>
}
      