<div>
    <p>
    HI <%= comment.user.name %>
    </p>
    <br>
    <br>
    <p> your comment <strong><%= comment.content %></strong>  just got published in codeial</p>
    <br>
    <br>
    <p>Thanks!!</p>


</div>