header {
  font-family: sans-sarif;
  font-weight: bold;
  background-color: #cfea3e;
  display: inline-block;
  color: black;
  left: 0%;
  width: 100%;
  height: 5%;
  position: relative;
  padding: 2rem;
  font-size: 2rem;
  text-align: left; }
  header #sign-in-link {
    position: absolute;
    left: 70%;
    top: 0%;
    display: block;
    padding: 2rem;
    color: white;
    font-size: 1.8rem; }
  header #sign-up-link {
    position: absolute;
    left: 80%;
    top: 0%;
    display: block;
    padding: 2rem;
    color: white;
    font-size: 1.8rem; }
